.LinkBtn {
  display: block;
  max-width: 352px;
  padding: 14px 20px;
  border-radius: 14px;
  background: rgb(255, 125, 51);
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.41px;
  text-align: center;
}
