.ask {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.34;
  margin-bottom: 20px;
}

.radio_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 18px;
  color: #121417;
  line-height: 1.38px;
}

.radio_btn {
  width: 20px;
  height: 20px;
}
